
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__imagen {
    width: 6rem;
    height: auto;
}

.logo__nombre {
    display: initial;
    margin-left: .5rem;
    color: var(--color-principal);
    font-weight: 700;
    font-size: 1.7rem;
}

