.form__campo {
    padding: 1rem 1rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: solid 1.7px var(--color-textos);
    color: var(--color-textos2);
    resize: none;
    font-family: var(--font-Acme);
    background: var(--color-formulario);
}

.form__campo.requerido {
    border-bottom: solid 1px var(--color-alerta);
}

.form__campo:focus + .form__label,
.form__campo:not(:placeholder-shown) + .form__label {
    transform: translateY(-.8rem) scale(.7);
    width: 100%;
    background: var(--color-formulario);
    transform-origin: top left;
    color: var(--color-titulos);
    -webkit-transform: translateY(-.8rem) scale(.7);
    -moz-transform: translateY(-.8rem) scale(.7);
    -ms-transform: translateY(-.8rem) scale(.7);
    -o-transform: translateY(-.8rem) scale(.7);
}

.form__campo:focus {
    border-bottom: solid 1px var(--color-titulos);
}